<!-- app.component.html -->
<div class="container">
  <h1>URL Shortener</h1>
</div>
<div class="container">
  <button mat-raised-button color="primary" (click)="shortenUrl()">Short URL</button>

  <mat-form-field appearance="fill">
    <input matInput placeholder="Enter Long URL" [(ngModel)]="longUrl">
  </mat-form-field>

</div>
<div *ngIf="show" class="container">
  <mat-form-field appearance="fill">
    <input matInput placeholder="" [(ngModel)]="shortUrl" #userInput>
  
  </mat-form-field>

  <button mat-button (click)="copyInputMessage(userInput)" value="click to copy" >
    <img width="24" height="24" src="https://img.icons8.com/material-two-tone/24/copy--v1.png" alt="copy--v1"/>
  </button>
</div>